/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Jul, 2016, 5:24:29 PM
    Author     : garima
*/

@media screen and (max-width: 768px) {
    body {
        padding-top: 70px;
    }
}

/*#miniImages {
    background-color: yellow;
}*/

#miniImages > tr > td> img {
    background-color: yellow;
}

.smallImage {
    background-color: yellow;
}

.smallImage:hover {
    background-color: greenyellow;
}

#loginPage{
    background: url("../images/LoginPageBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;    
}

.navbar-fixed-left {
    width: 220px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.header-icons {
    margin: 20px;
}

.user-icon {
    float: left;
    display: inline-block;
}

.user-name {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-nav > li {
    border-left: 1px solid #bbb;
}

.navbar-default {
    background-color: white;
}

#search {
    background-color: #cb99c9;
    width: 100%;
    margin: 10px; 
    padding: 10px;
    color: black;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -khtml-border-radius: 60px;
    border-radius: 60px;
}

.panel-default {
    text-align: center;
}

.heading {
    color: blueviolet;
    font-family: Della Respira;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 10px lightskyblue;
}

.opaque-background{
    border: solid 2px;
    width: 50%;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 12px;
}

label {
    color: white;
}

input {
    border-radius: 10px;
    padding-left: 15px;
}
