/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Aug, 2016, 4:03:06 PM
    Author     : garima
*/

#zoomImage {
    -o-transition: width 3s;
    -moz-transition: width 3s;
    -webkit-transition: width 3s;
    transition: width 3s;
}

#zoomImage:hover {
    width: 400px;
    height: 400px;
}

.smallImage:hover {
    background-color: yellowgreen;
}

.paymentDetails {
    padding-top: 20px;
    padding-left: 20px;
}

.background {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
}

.myDropDown {
    height: auto;
    overflow-x: hidden;
}