<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
	<div class="row">
		<div class="col-lg-12 heading">
			<strong> User Log In</strong>
		</div>
	</div>
</div>
<div class="container" style="background-color: rgba(128, 128, 128, 0.5); width: 40%;border-radius: 12px;border: solid 2px">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 form-box" style="padding: 30px; text-align: center">
			<div class="form-top">
<!--				<div class="form-top-left">
					<p>Enter your username and password to log on:</p>
				</div>-->
			</div>
			<div class="form-bottom">
				<form name="loginform" role="form" class="login-form">
					<div class="form-group">
						<label for="username" >Username</label>
						<input type="text" 
							   name="username" 
							   placeholder="Username..." 
							   ng-model="form.loginusername"
							   minlength=1
							   class="form-username form-control" 
							   id="form-username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" 
							   name="password" 
							   placeholder="Password..." 
							   ng-model="form.loginpassword"
							   class="form-password form-control" 
							   id="form-password">
						<br>
						Show Password <input type="checkbox" ng-model="ShowPwd"/>
						<span ng-show="ShowPwd == true"> You Entered: {{ form.loginpassword}}</span>
					</div>
					<button class="btn btn-primary" ng-click="loginform.$valid && logInUser()"> LogIn </button>
				</form>
			</div>
		</div>
	</div>
<!--	<form name="loginform" role="form" action="" method="post" class="login-form">
		<div class="row">
			<div class="col-lg-12" style="text-align: center; padding-top: 70px;">
				<label>Username: </label>
				<input type="text"
					   name="username"
					   ng-model="form.loginusername"
					   minlength=1
					   placeholder="Enter User Name"
					   required>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="text-align: center; padding: 70px 0px 50px 0px;">
				<label>Password: </label>
				<input type="password"
					   name="password"
					   ng-model="form.loginpassword"
					   placeholder="Enter Password"
					   required>
				<br>
				Show Password <input type="checkbox" ng-model="ShowPwd"/>
				<span ng-show="ShowPwd == true"> You Entered: {{ form.loginpassword}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="text-align: center; padding-bottom: 20px">
				<button class="btn btn-primary" ng-click="loginform.$valid && logInUser()"> LogIn </button>
				<button class="btn btn-primary" ng-click="loginform.$valid && signUpUser()"> Sign Up </button>
			</div>
		</div>
	</form>-->
</div>
