<!doctype html>
<html ng-app="webonomics">
	<head>
		<meta charset="UTF-8">
		<!--for responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title> Welcome to Myzone.in</title>



		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="shortcut icon" href="">
		<link href="css/mystyle.css" rel="stylesheet" type="text/css"/>

		<!--CDN for jQuery-->
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<!--CDN for Bootstrap JS-->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<script src="scripts/angular.min.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>

		<!--Local Script-->
		<script src="mymodule.js" type="text/javascript"></script>

	</head>
	<body ng-controller="mainpageController" ng-init="init()">

		<!--Top navigation bar-->
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" 
							data-toggle="collapse" 
							data-target="#mynavbar">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div>
						<img src="images/logo.png" 
							 width="100" 
							 height="60" 
							 alt="myzone"/>
					</div>
				</div>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="nav navbar-nav">
						<li>
							<div id="search">
								<label>Search</label>
								<input type="text" placeholder="Search item">
							</div>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<img src="images/cart.png" width="20" height="20" class="header-icons" alt="My Cart"/>
						</li>
						<li>
							<img src="images/user.png" width="20" height="20" class="header-icons user-icon" alt="User"/>
							<div class="user-name">
								<p style="margin-bottom: 2px;">
									<strong> {{ loggedInUser }}</strong>
								</p>
								<p class="small-font" ng-click="logoutUser()">Logout</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!--Offer Banner Slider using bootstrap Carousel class-->
		<div id="mySlider" class="carousel slide" data-ride="carousel" data-interval="3000">
			<ol class="carousel-indicators">
				<li data-target="#mySlider" data-slide-to="0" class="active"></li>
				<li data-target="#mySlider" data-slide-to="1"></li>
				<li data-target="#mySlider" data-slide-to="2"></li>
				<li data-target="#mySlider" data-slide-to="3"></li>
				<li data-target="#mySlider" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="images/slide-1.jpg" alt=""/>
				</div>
				<div class="item">
					<img src="images/slide-2.jpg" alt=""/>
				</div>
				<div class="item">
					<img src="images/slide-3.jpg" alt=""/>
				</div>
				<div class="item">
					<img src="images/slide-4.jpg" alt=""/>
				</div>
				<div class="item">
					<img src="images/slide-5.jpg" alt=""/>
				</div>
			</div>

			<a class="left carousel-control" href="#mySlider" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#mySlider" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12 heading">
					<h3>Categories</h3>
				</div>
			</div>
		</div>
		<!--Categories list-->
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6" ng-repeat="category in categories">
					<div class="panel panel-default" ng-click="displayItems(category.cat_name)">
						<div class="panel-body">
							<table style="width: 100%">
								<tr>
									<td>
										<img ng-src="{{ category.image }}" alt=""/>
									</td>
								</tr>
							</table>
						</div>
						<div class="panel-footer">
							<span> {{ category.cat_name }} </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
