<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="webonomics">
	<head>
		<title>Payment</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href="css/productPage.css" rel="stylesheet" type="text/css"/>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!--Angular Javascript-->
		<script src="scripts/angular.min.js" type="text/javascript"></script>

		<!--Controller Javascript-->
		<script src="productModule.js" type="text/javascript"></script>
	</head>
	<body ng-controller="paymentController">
		<div class="container">
			<div>
				<marquee><h3>**********Work in Progress**********</h3></marquee>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3>Select Payment Method</h3>
						</div>
						<div class="panel-body">
							<div ng-class="{'background' : creditCard == true}">
								<input type="checkbox" id="credit" name="paymentOption" ng-model="creditCard"/> Credit Card <br>
								<div style="padding-left: 20px;">
									<img src="images/Visa.png" alt=""/>
									<img src="images/MasterCard.png" alt=""/>
									<img src="images/Amex.png" alt=""/><br>
								</div>
								<div ng-show="creditCard == true" class="paymentDetails">
									<table>
										<tr>
											<td style="padding: 10px;">Name on Card</td>
											<td style="padding: 10px;">Card Number</td>
											<td style="padding: 10px;">Expiration Date</td>
										</tr>
										<tr>
											<td style="padding: 10px;"><input type="text"></td>
											<td style="padding: 10px;"><input type="text"></td>
											<td style="padding: 10px;">
												<select>
													<option ng-repeat="month in months"> {{ month }}</option>
												</select>
												<select>
													<option ng-repeat="year in years"> {{ year }}</option>
												</select>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div ng-class="{'background' : netBanking == true}">
								<input type="checkbox" ng-model="netBanking"/> Net Banking <br>
								<div ng-show="netBanking == true" class="paymentDetails">
									<select ng-model="selectedBank" ng-options="bank for bank in banks"></select>
									<span style='padding-left: 5px;'>You selected: {{selectedBank}}</span>
								</div>
							</div>
							<div ng-class="{'background' : debitCard == true}">
								<input type="checkbox" ng-model="debitCard"/> Debit Card <br>
								<div ng-show="debitCard == true" class="paymentDetails">
									<select ng-model="selectedCard" ng-options="debitCard for debitCard in debitCards"></select>
									<div ng-show="selectedCard == 'All Visa/MasterCard Debit Card'">
										<table>
											<tr>
												<td style="padding: 10px;">Name on Card</td>
												<td style="padding: 10px;">Card Number</td>
												<td style="padding: 10px;">CVV</td>
												<td style="padding: 10px;">Expiration Date</td>
											</tr>
											<tr>
												<td style="padding: 10px;"><input type="text"></td>
												<td style="padding: 10px;"><input type="text"></td>
												<td style="padding: 10px;"><input type="password"></td>
												<td style="padding: 10px;">
													<select>
														<option ng-repeat="month in months"> {{ month }}</option>
													</select>
													<select>
														<option ng-repeat="year in years"> {{ year }}</option>
													</select>
												</td>
											</tr>
										</table>
									</div>
									<div ng-show="selectedCard != 'All Visa/MasterCard Debit Card'">
										You have chosen: {{ selectedCard }}
									</div>
								</div>
							</div>
							<input type="checkbox" name="paymentOption"/> Cash on Delivery <br>
						</div>
						<div class="panel-footer">
							<button class="btn btn-success" ng-model="proceed">Proceed</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
