<!DOCTYPE html>
<html ng-app="webonomics">
	<head>
		<meta charset="UTF-8">
		<title> Product Page </title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.2.1/rangeslider.css">
		<link href="css/mystyle.css" rel="stylesheet" type="text/css"/>

		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.2.1/rangeslider.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="scripts/angular.min.js" type="text/javascript"></script>

		<script src="productModule.js" type="text/javascript"></script>


	</head>
	<body ng-controller="productsController" ng-init="init()">

		
		<!--Sidebar Navigation starts-->
		<div class="navbar navbar-inverse navbar-fixed-left">
			<a class="navbar-brand" href="#"> MyZone </a>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" ng-model="pricehtol" ng-click="setOrder('-prod_price')">Price High to Low</a></li>
						<li><a href="#" ng-model="priceltoh" ng-click="setOrder('prod_price')">Price Low to High</a></li>
						<li class="divider"></li>
						<li><a href="#" ng-model="quantityhtol" ng-click="setOrder('-prod_quantity')">Quantity High to Low</a></li>
						<li><a href="#" ng-model="quantityltoh" ng-click="setOrder('prod_quantity')">Quantity Low to High</a></li>
					</ul>
				</li>
				<li>
					<a href="#">
						Search
						<input type="text" ng-model="productName" style="color: black">
					</a>
				</li>
				<li>
					<a href="#">Brands</a>
					<ul>
						<li>
							<label><input type="checkbox" ng-click="includeBrand('Sonataya')">Sonataya</label>
						</li>
						<li>
							<label><input type="checkbox" ng-click="includeBrand('Fusion')">Fusion</label>
						</li>
						<li>
							<label><input type="checkbox" ng-click="includeBrand('Lastrack')">Lastrack</label>
						</li>
						<li>
							<label><input type="checkbox" ng-click="includeBrand('Pearl')">Pearl</label>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Price Range:
						<br>
						<form action="#" method="post">
							<label>Minimum</label>
							<input type="range" min="100" max="5000" step="100" ng-model="priceFilterValueMin"/>
							{{ priceFilterValueMin}}
							<br>
							<label>Maximum</label>
							<input type="range" min="100" max="5000" step="100" ng-model="priceFilterValueMax"/>
							{{ priceFilterValueMax}}
						</form>
					</a>
				</li>
			</ul>
		</div>
		<!--Sidebar Navigation Ends-->


		<!--Item div start -->
		<div class="container" style="margin-left:15%;padding:1px 16px;height:1000px;">
			<!--<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Filters</span>-->

			<div class="row">
				<div class="col-lg-12 heading">
					<h3>Item List</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-sm-4" 
					 ng-repeat="p in Products| limitTo : count | filter : FilterProducts | orderBy : order | filter : BrandFilter | filter : PriceFilter">

					<div class="panel panel-default">
						<div class="panel-body">
							<table style="width:100%">
								<tr>
									<img ng-src="{{ p.prod_image }}" alt=""/>
								</tr>
								<tr>
									<td> <h2> {{ p.prod_name}} </h2></td>
								</tr>
								<tr>
									<td> - By {{ p.prod_seller}}</td>
								</tr>
								<tr>
									<td> {{ p.prod_price | currency:"Rs. " }}</td>
									<!--<td> {{ parsePricetoInt(p.prod_price) | currency:"Rs. " }}</td>-->
								</tr>
							</table>
						</div>
						<div class="panel-footer">
							<button class="btn btn-primary">BUY</button>
							<button class="btn btn-success" style="float: right" data-toggle="modal" data-target="#productDetails{{$index}}">
									Details
							</button>
							<div id="productDetails{{$index}}" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<!--Modal COntent-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"> &times;</button>
											<h4 class="modal-title"> {{ p.prod_name }}</h4>
										</div>
										<div class="modal-body clearfix">
											<div class="row">
												<div class="col-md-6" style="text-align: left">
													<p><strong>Description: </strong> {{ p.prod_desc }}</p>
													<p><strong>Quantity Available: </strong> {{ p.prod_quantity }}</p>
													<p><strong>Sold By: </strong> {{ p.prod_seller }}</p>
													<table border="1">
														<tr>
															<td><img class="smallImage" ng-src="{{p.prod_image}}" alt="" width="50" height="50" ng-click="changeImage(p.prod_image)"/></td>
															<td><img class="smallImage" ng-src="images/footwears.png" alt="" width="50" height="50" ng-click="changeImage('images/footwears.png')"/></td>
															<td><img class="smallImage" ng-src="images/cosmetics.png" alt="" width="50" height="50" ng-click="changeImage('images/cosmetics.png')"/></td>
														</tr>
													</table>
												</div>
												<div class="col-md-6">
													<img ng-src="{{ p.prod_image }}" alt=""/>
													<!--<img src="images/watches.png" alt=""/>-->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- ng-repeat div -->
			</div>
			<div class="row">
				<p align="center">
					<button align="center" ng-click="ShowMore()"> Show More Records </button>
				</p>
			</div>
		</div>

</body>
</html>
