<!DOCTYPE html>
<html lang="en" ng-app="webonomics">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Product Page</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">
	<link href="css/productPage.css" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<!--Angular Javascript-->
	<script src="scripts/angular.min.js" type="text/javascript"></script>
	
	<!--Controller Javascript-->
	<script src="productModule.js" type="text/javascript"></script>
	

</head>

<body ng-controller="productsController" ng-init="init()">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">MyZone</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"  ng-click="GetProducts()">
						<span class="badge">{{currentNumberOfItems}}</span>
						<i class="fa fa-shopping-cart"></i> <b class="caret"></b>
					</a>
                    <ul class="dropdown-menu message-dropdown">
						<li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="images/total.png" alt="" width="50" height="50">
                                    </span>
                                    <div class="media-body">
                                        <p>{{ totalPrice | currency: "Rs." }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview" ng-repeat="c in cartProducts" data-ng-if="$index > 0">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
										<!--Give image of the product that is added-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                        <img class="media-object" ng-src="{{c.image}}" alt="" width="50" height="50">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{c.name}}</strong>
                                        </h5>
                                        <p>{{c.price | currency: "Rs."}}</p>
										
                                    </div>
                                </div>
                            </a>
							<button class="btn btn-danger" ng-click="delFromCart(c.name, c.price)">Delete</button>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ currentUser }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Sort <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#" ng-model="pricehtol" ng-click="setOrder('-prod_price')">
									<i class="fa fa-fw fa-sort-amount-desc"></i>
									Price High to Low
								</a>
                            </li>
							<li>
                                <a href="#" ng-model="priceltoh" ng-click="setOrder('prod_price')">
									<i class="fa fa-fw fa-sort-amount-asc"></i>
									Price Low to High
								</a>
                            </li>
							<li>
                                <a href="#" ng-model="quantityhtol" ng-click="setOrder('-prod_quantity')">
									<i class="fa fa-fw fa-sort-amount-desc"></i>
									Quantity High to Low
								</a>
                            </li>
							<li>
                                <a href="#" ng-model="quantityltoh" ng-click="setOrder('prod_quantity')">
									<i class="fa fa-fw fa-sort-amount-asc"></i>
									Quantity Low to High
								</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#">
							<i class="fa fa-fw fa-search"></i>
							Search Item
							<input type="text" ng-model="productName" style="color: black">
						</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-table"></i> Brands

							<ul>
								<li ng-repeat="brand in productBrands">
									<label><input type="checkbox" ng-click="includeBrand(brand.prod_seller)">{{ brand.prod_seller }}</label>
								</li>
							</ul>
						</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-rupee"></i> 
							Price Range
							<form action="#" method="post">
								<label>Minimum</label>
								<input type="range" 
									   min="100" 
									   max="{{priceFilterValueMax[0].prod_price}}" 
									   step="100" 
									   ng-model="priceFilterValueMin"/>
								{{ priceFilterValueMin}}
							</form>
						</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Items List <br>
							<button class="btn btn-success" ng-click="checkout()">Proceed to Checkout</button>
                        </h1>
                    </div>

                </div>
                <!-- /.row -->

                <div class="row">
					<div class="col-lg-3 col-sm-4" 
					 ng-repeat="p in Products| limitTo : count | filter : FilterProducts | orderBy : order | filter : BrandFilter | filter : PriceFilter">
						<div class="panel panel-default">
						<div class="panel-body">
							<table style="width:100%">
								<tr>
									<img ng-src="{{ p.prod_image }}" alt=""/>
								</tr>
								<tr>
									<td> <h2> {{ p.prod_name}} </h2></td>
								</tr>
								<tr>
									<td> - By {{ p.prod_seller}}</td>
								</tr>
								<tr>
									<td> {{ p.prod_price | currency:"Rs. " }}</td>
								</tr>
								<tr>
									<td>InStock:  {{ p.prod_quantity }}</td>
								</tr>
							</table>
						</div>
						<div class="panel-footer">
							<button class="btn btn-primary" ng-click="addToCart(p.prod_image,p.prod_name,p.prod_price)">BUY</button>
							
							<button class="btn btn-success" 
									style="float: right" 
									data-toggle="modal" 
									data-target="#productDetails{{$index}}"
									ng-click="updateMainImage(p.prod_image)">
									Details
							</button>
							
							<!--Modal for product details-->
							<div id="productDetails{{$index}}" class="modal fade" role="dialog">
								<div class="modal-dialog">
									Modal Content
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"> &times;</button>
											<h4 class="modal-title"> {{ p.prod_name }}</h4>
										</div>
										<div class="modal-body clearfix">
											<div class="row">
												<div class="col-md-6" style="text-align: left">
													<p><strong>Description: </strong> {{ p.prod_desc }}</p>
													<p><strong>Quantity Available: </strong> {{ p.prod_quantity }}</p>
													<p><strong>Sold By: </strong> {{ p.prod_seller }}</p>
													<table border="1">
														<tr>
															<td><img class="smallImage" ng-src="{{p.prod_image}}" alt="" width="50" height="50" ng-click="changeImage(p.prod_image)"/></td>
															<td><img class="smallImage" ng-src="images/footwears.png" alt="" width="50" height="50" ng-click="changeImage('images/footwears.png')"/></td>
															<td><img class="smallImage" ng-src="images/cosmetics.png" alt="" width="50" height="50" ng-click="changeImage('images/cosmetics.png')"/></td>
														</tr>
													</table>
												</div>
												<div class="col-md-6">
													<img ng-src="{{ mainImage }}"
														 alt="" id="zoomImage"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--Modal ends-->
						</div>
					</div>
					</div>
                </div>
                <!-- /.row -->
				<div class="row">
					<p align="center">
						<button align="center" ng-click="ShowMore()"> Show More Records </button>
					</p>
				</div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
