<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
	<div class="row">
		<div class="col-lg-12 heading">
			<strong> User Registration</strong>
		</div>
	</div>
</div>
<div class="container" style="background-color: rgba(128, 128, 128, 0.5); width: 40%;border-radius: 12px;border: solid 2px">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 form-box" style="padding: 30px; text-align: center">
			<div class="form-bottom">
				<form name="registerform" role="form" class="login-form">
					<div class="form-group">
						<label for="username" >Username</label>
						<input type="text" 
							   name="username" 
							   placeholder="Username..." 
							   ng-model="form.registerusername"
							   minlength=1
							   class="form-username form-control" 
							   id="form-username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" 
							   name="password" 
							   placeholder="Password..." 
							   ng-model="form.registerpassword"
							   class="form-password form-control" 
							   id="form-password">
						<br>
						Show Password <input type="checkbox" ng-model="ShowPwd"/>
						<span ng-show="ShowPwd == true"> You Entered: {{ form.registerpassword}}</span>
					</div>
					<button class="btn btn-primary" ng-click="registerform.$valid && signUpUser()"> Sign Up </button>
				</form>
			</div>
		</div>
	</div>
</div>
